body {
    margin:0;
}
#cabecalho {
    background-color:#7755a6;
}
ul {
    list-style-type:none;
    align-items:center; 
    display:flex;
    justify-content: space-between;
    margin:0px;
    li { 
    color:white;
    }
}
#seletor {
    display:flex;
    justify-content:space-around;
}
#poster {
    background-color:#8b629f;
    color:white;
    display:flex;
    justify-content:space-around;
    width:100%;
}
.alinhamento {
    display: flex;
    align-items: center;
}
.divisao {
    display:flex;
    justify-content: center;
}
h2 {
    color: #8b629f;
}
hr {
    width: 30%;
    color:#8b629f
}
.hr {
    display: flex;
    align-items:center;
}
#ajustes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pecas {
    width:350px;
    height:550px;
    border:5px solid #7755a6;
    padding:20px ;
    display: block;    
}
#justificar {
    display:flex;
    align-items: center;
    justify-content: center;
}
button {
    color:white;
    background-color:#8b629f;
    border-radius: 20px;
    width: 80px;
    height: 30px;
}
footer {
    color:white;
    background-color:#7755a6;
    display: flex;
    align-items:center;
    
}
